@media (max-width: 767.9px) {
	.header-inner__right {
		margin-left: auto;
	}

	.header-inner__right-other {
		display: none;
	}

	.header-inner__right::before {
		margin: 0 20px 0 16px;
	}

	.toggle-nav._active {
		margin-left: 8px;
	}
}

@media (max-width: 360px) {
	.menu {
		width: 100%;
	}

	.menu__header {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		padding: 0 24px;
	}

	.logo {
		display: flex;
		align-items: center;
	}

	.header-inner__left >:nth-child(2)::before {
		content: "";
		display: block;
		height: 32px;
		width: 2px;
		border-radius: 1px;
		background-color: #EAEAEA;
		margin: 0 20px;
		transition: all 0.2s ease-in;
	}

	.logo._lock::before {
		width: 0;
		margin: 0 8px;
		transition: all 0.2s ease-in;
	}

	.toggle-nav {
		margin-right: 0px;
	}

	.main-content {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.main-content__description{
		width: 47%;
		margin: 0 24px 0 0;
		
	}

	.main-content__picture {
		margin: 0 0 24px 24px;
		width: 54%;
	}

	.main-content__limiter {
		max-height: 160px;
	}

	.main-header {
		margin-bottom: 32px;
	}
	.nav-slider {
		margin: 0 -24px;
	}

	.nav-slider__items {
		margin-bottom: 32px;
		padding: 0 24px;
	}

	.nav-slider__item:not(:last-child) {
		margin-right: 4px;
	}

	.main-content__limiter p {
		line-height: 20px;
	}

	.main-content__read-more-button {
		margin: 10px 0 24px 1px;
	}

	.main-content__picture img {
		border-radius: 5px;
	 }

	.main__barnd-list {
		margin-left: -24px;
	}
}

@media (min-width: 1120px) {
	.body {
		background-color: #F8F8F8;
	}

	.header {
		border: none;
		padding: 0;
		height: 40px;
	}

	.container {
		padding: 0 32px;
	}

	.main {
		margin-top: 0px;
		padding-top: 42px;
	}

	.main-header {
		margin-bottom: 8px;
	}

	.main-content {
		margin: 0 2px;
	}
	
	.nav-slider__items {
		flex-wrap: wrap;
		height: 88px;
		margin-bottom: 10px;
	}

	.nav-slider__item:not(:last-child) {
		margin-bottom: 6px;
	}

	.header-inner__left,
	.header-inner__right-other,
	.header-inner__right::before {
		display: none;
	}

	.header {
		position: absolute;
	}

	.header-inner {
		justify-content: end;
		padding-top: 42px;
	}

	.header-inner__right {
		z-index: 10;
	}

	.header-inner__right > * + * {
		margin-left: 32px;
	}

	.header-inner__right > *:last-child::before {
		content: "Оставить заявку";
		margin-right: 10px;
	}

	.header-inner__right > *:first-child::before {
		content: "Статус ремонта";
		margin-right: 10px;
	}

	.header-inner__right > *:first-child:hover::before,
	.header-inner__right > *:last-child:hover::before {
		cursor: pointer;
	}

	.main-content__picture {
		margin-left: 18px;
	}

	.main-content__description {
		margin-right: 18px;
	}

	.main-content__description p {
		width: 490px;
	}

	.main-content__read-more-button {
		margin: 14px 0 0 -2px;
	}
}