@font-face {
	font-family: 'TT Lakes';
	src: local('0'),
		  url('../fonts/TTLakes-Regular.woff') format('woff'),
		  url('../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;	
	font-display: swap;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('0'),
		  url('../fonts/TTLakes-Medium.woff') format('woff'),
		  url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('0'),
		  url('../fonts/TTLakes-Bold.woff') format('woff'),
		  url('../fonts/TTLakes-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
}

body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	color: #1B1C21;
	font-size: 16px;
	font-family: 'TT Lakes', sans-serif;
	letter-spacing: -0.6;
}

body._lock {
	overflow-y: hidden;
}

html {
	box-sizing: border-box;
 }
 
 *, *:before, *:after {
	box-sizing: inherit;
 }

.container {
	margin: auto;
	max-width: 1120px;
	padding: 0 16px;
	position: relative;
	width: 100%;
}

.header {
	width: 100%;
	height: 88px;
	border-bottom: 1px solid #D9FFF5;
	padding: 18px 0;
}

.header-inner {
	display: flex;
}

.header-inner__right {
	display: flex;
	line-height: 0;
	align-items: center;
	text-decoration: none;
}

.menu__bottom-icons,
.header-inner__right-other {
	display: flex;
	margin-left: auto;
	line-height: 0;
	align-items: center;
}

.header-inner__right > * {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 500;
	color: #1B1C21;
	letter-spacing: -0.2px;
}

.menu__header > *,
.menu__bottom-icons > *,
.header-inner__right > a > *,
.header-inner__right-other > * {
	width: 40px;
	height: 40px;
}

.header-inner__call-icon {
	background-image: url(../images/icons/call.svg);
}

.header-inner__chat-icon {
	background-image: url(../images/icons/chat.svg);
}

.header-inner__profile-icon {
	background-image: url(../images/icons/profile.svg);
}

.header-inner__repair-icon {
	background-image: url(../images/icons/repair.svg);
}


.header-inner__checkstatus-icon {
	background-image: url(../images/icons/checkstatus.svg);
}

.menu__search-icon {
	background-image: url(../images/icons/search.svg);
}


.menu__bottom-icons> *:not(:last-child),
.header-inner__right-other > *:not(:last-child) {
	margin-right: 16px;
}

.header-inner__right > * + * {
	margin-left: 16px;
}

.header-inner__right::before {
	content: "";
	display: block;
	height: 32px;
	width: 2px;
	border-radius: 1px;
	background-color: #EAEAEA;
	margin: 0 20px;
}

.header-inner__left {
	display: flex;
	align-items: center;
	line-height: 0;
}

.logo,
.search {
	z-index: 100;
}

/* -----------Бургер-------------- */

.toggle-nav {
	display: flex;
	position: relative;
	border: 0;
	background-color: #FF3E79;
	padding: 0;
	margin-right: 16px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	z-index: 100;
}

.toggle-nav span,
.toggle-nav::before,
.toggle-nav::after {
	position: absolute;
	left: 11px;
	border-radius: 1px;
	transition: all 0.3s ease 0s;
	background-color: #ffffff;
}

.toggle-nav::before,
.toggle-nav::after {
	content: "";
}

.toggle-nav::before {
	height: 2px;
	width: 18px;
	top: 12px;	
}

.toggle-nav::after {
	height: 2px;
	width: 14px;
	bottom: 12px;
}

.toggle-nav span {
	height: 2px;
	width: 10px;
	top: 50%;
	transform: scale(1) translate(0px, -50%);
}

.toggle-nav._active {
	display: flex;
	justify-content: center;
}

.toggle-nav._active span {
	transform: scale(0) translate(0px, -50%);
}

.toggle-nav._active::before {
	position: absolute;
	width: 22px;
	left: auto;
	height: 2px;
	top: 19px;
	transform: rotate(-45deg);
}

.toggle-nav._active::after {
	position: absolute;
	width: 22px;
	left: auto;
	height: 2px;
	bottom: 19px;
	transform: rotate(45deg);
}

.header-inner__right > *:first-child:hover > *,
.header-inner__right > *:last-child:hover > *,
.header-inner__checkstatus-icon:hover,
.header-inner__repair-icon:hover,
.animation-icons:hover {
	transform: scale(1.05);
	transition: all 0.2s ease-in;
	cursor: pointer;
}

.header-inner__right > *:first-child:active > *,
.header-inner__right > *:last-child:active > *,
.header-inner__checkstatus-icon:active,
.header-inner__repair-icon:active,
.animation-icons:active {
	transform: scale(0.95);
	transition: all 0.1s ease-in;
}

.header-inner__right > *:first-child > *,
.header-inner__right > *:last-child > *,
.header-inner__checkstatus-icon,
.header-inner__repair-icon,
.animation-icons {
	transition: all 0.1s ease-in;
}

.main {
	background-color: #F8F8F8;
	color: #1B1C21;
	font-size: 14px;
	margin: 0;
	padding-top: 24px;
	line-height: 18px;
	letter-spacing: 0.2px;
	min-height: 100%;
}

.main h1 {
	font-size: 28px;
	letter-spacing: -0.6px;
	margin: 0;
}

.main-header {
	display: flex;
	align-items: center;
	height: 40px;
	margin-bottom: 24px;
	font-size: 28px;
}

.main-header::before {
	position: absolute;
	content: "";
	display: block;
	height: 40px;
	width: 8px;
	border-radius: 4px;
	background-color: #41F6D7;
	left: -4px;
}

.nav-slider {
	letter-spacing: -0.2px;
	overflow-x: hidden;
	margin: 0 -16px;
}

.nav-slider__items::-webkit-scrollbar {
	display: none;
}

.nav-slider__items {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	white-space: nowrap;
	height: 40px;
	padding: 0 16px;
	margin-bottom: 24px;
	font-weight: 500;
	font-size: 16px;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.nav-slider__items::after {
	position: absolute;
	content: "";
	display: block;
	height: 40px;
	width: 24px;
	right: 0;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.nav-slider__items::before {
	position: absolute;
	content: "";
	display: block;
	height: 40px;
	width: 16px;
	left: 0;
	background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.nav-slider__item {
	color: #7E7E82;
	display: flex;
	align-items: center;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 0 14px;
	margin: 0;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

.nav-slider__item:not(:last-child) {
	margin-right: 5px;
}

.nav-slider__item:focus,
.nav-slider__item:hover {
	border: 2px solid #B8FFEC;
}

.main-content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #D9FFF5;
 }

 /* Разворачиваемый текст */

.main-content__limiter {
	max-height: 90px;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-out;
 }

 .main-content__limiter._active {
	max-height: 100%;
 }

 .main-content__limiter p {
	margin: 0;
 }

 .main-content__read-more-button:after {
	content: "Читать далее";
	margin-left: 8px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: #1B1C21;

	font-family: 'TT Lakes';
 }

 .main-content__read-more-button._active:after {
	content: "Скрыть";
	
 }

 .main-content__read-more-button img,
 .main-content__read-more-button._active img {
	transition: all 0.2s ease-in;
 }
 
 .main-content__read-more-button._active img {
	transform: scale(1, -1);
 }

 .main-content__read-more-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	text-decoration: none;
	margin: 16px 0;
	max-height: 24px;
	padding: 0;
	
 }

 .main-content__description {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
 }

 .main-content__picture {
	margin: 0 -16px 24px;
}

 .main-content__picture img {
	padding: 0;
	width: 100%;
	height: auto;
 }

 .menu {
	z-index: 90;
	position: fixed;
	top: 0;
	left: -100%;
	width: 320px;
	height: 100%;
	background-color: #FFFFFF;
	transition: left 0.3s ease 0s;
	line-height: normal;
	overflow: auto;
	letter-spacing: -0.2px;
	font-weight: 500;
	font-size: 16px;

	-ms-overflow-style: none;
	scrollbar-width: none;
 }

 .menu::-webkit-scrollbar {
	display: none;
 }

 .menu._active {
	left: 0;
	box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
 }

 .menu__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	letter-spacing: -0.2px;
	font-size: 16px;
}

.menu__list >:last-child {
	margin-bottom: 57px;
}

.menu__list >:first-child {
	margin-top: 120px;
}

.menu__link {
	color: #1B1C21;
	font-weight: 500;
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 32px;
}

.menu__lang-link:focus,
.menu__lang-link:hover,
.menu__link:focus,
.menu__link:hover {
	color: #7E7E82;
}

.menu__link:before {
	position: absolute;
	content: "";
	display: block;
	height: 0px;
	width: 8px;
	transition: all 0.2s ease-in;
	left: -4px;
}

.menu__link:focus:before {
	position: absolute;
	content: "";
	display: block;
	height: 32px;
	width: 8px;
	border-radius: 4px;
	background-color: #41F6D7;
	left: -4px;
	transition: all 0.2s ease-in;
}

.menu__header {
	padding: 24px 24px 24px 24px;
	width: 320px;
	height: 88px;
	display: flex;
	position: fixed;
	justify-content: flex-end;
	background-color: #FFFFFF;
	box-shadow: -20px 15px 15px #ffffff;
	z-index: 50;
	line-height: 0;
}

.menu__content {
	padding: 0 24px;
}

.menu__content > p:first-of-type {
	margin-bottom: 12px;
}

.menu__content > p:last-of-type {
	font-weight: 700;
	letter-spacing: -0.6px;
	font-size: 24px;
	margin-bottom: 40px;
}

.menu__bottom-icons {
	margin-bottom: 16px;
}

.menu__lang {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0 0 32px 0;
}

.menu__lang-link {
	margin-right: 7px;
	text-decoration: none;
	color: #1B1C21;
}

.page-overlay {
	display: none;
}

.page-overlay._lock {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 50;
}

/*  */

.band-list__header {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 16px 0;
	background: linear-gradient(90deg, #F8F8F8, #FFFFFF);
	width: 100%;
	margin-bottom: 16px;
}

.brand-list__item {
	display: flex;
	background-color: #FFFFFF;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	justify-content: space-between;
	padding: 0 16px;
	align-items: center;
	flex-shrink: 0;
}

.brand-list__item.swiper-slide {
	margin-bottom: 16px;
	width: 206px;
	height: 70px;
}

.brand-list__item-button {
	display: flex;
	width: 36px;
	height: 36px;
	border-radius: 20px;
	border: 2px solid #FF3E79;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in;
}

.brand-list__item-button:hover {
	background: #FF3E79;
	transition: all 0.2s ease-in;
}

.brand-list__item-button > svg > path {
	transition: all 0.2s ease-in;
}

.brand-list__item-button:hover > svg > path {
	fill: white;
	transition: all 0.2s ease-in;
}

.brand-list__items::-webkit-scrollbar {
	display: none;
}


/*  */
.swiper-custom-pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
}

.swiper-custom-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #B5B6BC;
}


.swiper-custom-pagination .swiper-pagination-bullet-active {
	background: #B5B6BC;
}

 /*  */
 .brand-list.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
	margin: 0 -16px;
	padding: 0 16px;
	z-index: 0;
 }
 
 .brand-list.swiper.swiper-initialized.swiper-horizontal,
 .brand-list.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
	margin: 0 -16px;
	padding: 0 16px;
 }

 .brand-list__left-shadow {
	position: absolute;
	content: "";
	display: block;
	height: 80px;
	width: 24px;
	left: 0;
	background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	z-index: 50;
}

 .brand-list__right-shadow {
	position: absolute;
	content: "";
	display: block;
	height: 80px;
	width: 24px;
	right: 0;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	z-index: 50;
}

.brand-list__left-shadow._off {
	display: none;
}

.brand-list__right-shadow._off {
	display: none;
}

.brand-list h1 {
	color: #7E7E82;
	font-size: 16px;
	letter-spacing: -0.2px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
}

.brand-list__read-more-button {
	display: none;
 }

.brand-list__read-more-button._on:after {
	content: "Показать все";
	margin-left: 8px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: #1B1C21;

	font-family: 'TT Lakes';
 }

 .brand-list__read-more-button._on._active:after {
	content: "Скрыть";
	
 }

 .brand-list__read-more-button._on img,
 .brand-list__read-more-button._on._active img {
	transition: all 0.2s ease-in;
 }
 
 .brand-list__read-more-button._on._active img {
	transform: scale(1, -1);
 }

 .brand-list__read-more-button._on {
	cursor: pointer;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	text-decoration: none;
	margin: 6px 0 16px;
	max-height: 24px;
	padding: 0;
	
 }


.brand-list.swiper._description {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.brand-list__items.swiper-wrapper._limiter {
	display: flex;
	flex-wrap: wrap;
	max-height: 176px;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-out;
	justify-content: space-between;
}


.brand-list__items.swiper-wrapper._limiter._active {
	max-height: 100%;
 }

 